[submodule "res/zsh-plugins/zsh-syntax-highlighting"]
	path = res/zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "res/zsh-plugins/powerlevel9k"]
	path = res/zsh-plugins/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
