[Unit]
Description=Background for Wayland
Documentation=man:swaybg(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaybg \
  {{@@ background @@}}
[Install]
WantedBy=sway-session.target
