snippet em "emphasize text"
\\emph{${1:${VISUAL:text}}} ${0}
endsnippet
snippet it "italic text"
\\textit{${1:${VISUAL:text}}} ${0}
endsnippet
snippet bf "bold text"
\\textbf{${1:${VISUAL:text}}} ${0}
endsnippet

snippet defsec "section"
\\section{$1}%
\\label{s:$2}

$0
endsnippet

snippet refsec "reference a section"
Section~\\ref{s:$1}$0
endsnippet

snippet sk "skitter"
\\skitter{}
endsnippet
